* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: "Roboto";
}

/*-- Hero Section --*/

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 70px;
}

.hero-logo {
    font-size: 24px;
}

.awesome {
    padding: 50px;
}
.main {
    font-size: 48px;
    font-weight: 900;
}

.hero .secondary {
    font-size: 18px;
    color: #d3d7df;
}

/*-- Random Information --*/

.random-information {
    padding: 50px;
}

.illustration {
    border: 2px solid rgb(163, 142, 202);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 100px;
    height: 100px;  
}

/*-- .bloco-de-informacao {

} --*/


/*-- God of Thunder --*/


.god-of-thunder {
    padding: 50px;
    background-color: #e5e7eb;
}


/*-- sign up --*/

.sign-up {
    padding: 50px;
}

.call-action {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 25px;
    border-radius: 10px;
}

/*-- Buttons Section --*/

.button {
    color: white;
    background-color: #3882f6;
    padding: 5px;
    margin: 2px;
    border-radius: 7px;
    
}

.two {
    border: solid white 2px;
}


/** Rodape **/

footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 7px;
}