* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


/*-- Hero Section --*/

.hero, footer {
    background-color: #1f2937;
    font-family: "Roboto";
    padding: 70px;
}

.awesome {
    padding: 50px;
}
.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

/*-- Buttons Section --*/

.button {
    color: white;
    background-color: #3882f6;
    padding: 5px;
    margin: 2px;
    border-radius: 7px;
    
}

.two {
    border: solid white 2px;
}